.border{
     border: 2px solid red;
     margin: 3px;
}
.flex{
     display: flex;
}
.justify-center{
     justify-content: center;
}
.items-center{
     align-items: center;
}
.bg-black{
     background-color: black;
     color: white;
}
.invert{
     filter: invert(1);
}
.bg-gray{
     background-color: #121212;
}
.rounded{
     border-radius: 7px;
}
.m-1{
     margin: 5px;
}
.p-1{
     padding: 10px;
}

/* Scrollbar */
::-webkit-scrollbar {
     width: 11px;
   }
   
   /* Track */
   ::-webkit-scrollbar-track {
     background: #333333; /* Dark grey */
   }
   
   /* Handle */
   ::-webkit-scrollbar-thumb {
     background: #6f6b6b; /* Grey */
   }
   
   /* Handle on hover */
   ::-webkit-scrollbar-thumb:hover {
     background: #838383; /* Light grey */
   }
   